@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<h2>About</h2>

The idea of my site appeared after I bought a Windows XP laptop and tried to access websites with Internet Explorer 8. 
As you probably know, Internet Explorer 8 has difficulties opening websites that are HTTP secured. 
Therefore, skipster1337's [website](https://skipster1337.github.io/index.html) was unavailable for me. In addition to 
that, my laptop has only 512MB, which is not enough to run browsers like MyPal. Internet Explorer is the only option to 
open websites because it doesn't consume that much space in RAM. Also, in my humble opinion, using Internet Explorer 
gives more authentic experience of that time (but, of course, limits access to the modern Web).
<br/>

I'm Kostiatnyn Sharykin (a. k.a. hunterlan), IT enthusiast and programer, who loves everything that related to IT 
technology. My first PC was on Pentium D and had installed Windows XP. Of course, I was too young to use social apps 
like MSN, but still used Windows XP quite a lot. I liked just to explore files in file explorer and, of course, to play=).

If you're visiting my website on <b><i>modern hardware</i></b>, I recommend visiting next communities: 

<a href="https://reddit.com/r/windowsxp">WindowsXP subreddit</a>
<a href="https://discord.gg/vzRvU3V">Discord server of WindowsXP subreddit</a>

<h4>Many thanks to <a href="https://github.com/skipster1337">skipster1337</a>, who created own website with a list of 
    software and useful guides and inspired me to create HTTP - compatible website.</h4>