<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name="author" content="Kostiantyn Sharykin">
    <title>@ViewBag.Title OldSoftware</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
<div class="xp-container">
    <div class="xp-sidebar">
        <div class="sidebar-text">
            <p>Welcome to the blog installation wizard</p>
        </div>
    </div>
        
    <div class="xp-content">
        @RenderBody()
    </div>
</div>

<div class="footer">
    <div class="footer-buttons">
        <button class="xp-button">&lt; Back</button>
        <button class="xp-button xp-button-primary">Next &gt;</button>
    </div>

    <div class="estimated-time">
        <p>Estimated time remaining: <strong>Forever enjoying this retro design</strong></p>
    </div>
</div>
</body>
</html>